//
// Grid system
//

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Set the container width, and override it for fixed navbars in media queries
@if $enable-grid-classes {
  .container {
    @include create-container();
    @include create-container-max-widths();
  }
}

// Fluid container
@if $enable-grid-classes {
  .container-fluid {
    @include create-container();
  }
}

// Row
@if $enable-grid-classes {
  .row {
    @include create-row();
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
@if $enable-grid-classes {
  @include make-grid-columns();
}
